body {
  background: #131212;
  color: rgb(163, 163, 163);
  font-family: Arial;
}
* {
  box-sizing: border-box;
}

.streamTabs button {
  width: 400px;
  margin-bottom: 20px;
}

#netflix {
  background-color: rgb(238, 18, 18);
}

#home {
  position: relative;
  top: 20px;
}

#random {
  position: relative;
  top: -21px;
  margin-left: 795px;
}

#welcome {
  color: #e50914;
}

.streamTabs button {
  width: 400px;
  margin-bottom: 20px;
}

#search-form {
  margin: auto;
  text-align: center;
}

#search-input {
  margin: auto;
  text-align: left;
}

#back {
  margin-top: 90px;
}

#movie-container {
  margin: 2rem;
  text-align: center;
}

.card {
  text-align: center;
  border: rgb(228, 7, 7) solid 2px;
  padding: 1rem;
  width: 15rem;
  height: 28rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.movie-poster {
  justify-self: center;
  width: 100%;
}

#next {
  display: block;
  width: 25%;
  border: none;
  background-color: #eeeef7;
  padding-bottom: 14px 28px;
  font-size: 16px;
  font-family: sans-serif;
  color: #e50914;
  cursor: pointer;
  text-align: center;
  border-bottom: black;
  border-radius: 25px;
  float: right;
  margin-top: 90px;
}

#back {
  display: block;
  width: 25%;
  border: none;
  background-color: #eeeef7;
  padding-bottom: 14px 28px;
  font-size: 16px;
  font-family: sans-serif;
  color: #e50914;
  cursor: pointer;
  text-align: center;
  border-top: black;
  border-radius: 25px;
  float: left;
}
